<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Pictory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acceso <span class="caret"></span></a>
          <% if logged? %>
            <%= current_user.name %>
          <% else %>
            Ingreso
          <% end %>
          <ul class="dropdown-menu" role="menu">
         <% if logged? %>
            <li><a href="<%= session_path(current_user) %>" data-method="DELETE">Salir</a></li>
            <% else %>
            <li><a href="<%=users_sign_in_path %>">Ingreso</a></li>
            <li><a href="<%=users_sign_up_path %>">Registro</a></li>

            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

